body{

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color:#f4f4f4;

    margin:0;
}
/*principal*/
.auth-container{

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;
}
/*tarjeta formulario*/
.auth-card{

    background:white;

    width:90%;

    max-width:450px;

    padding:30px;

    border-radius:12px;

    box-shadow:0 4px 15px rgba(0,0,0,0.15);
}
.auth-card h1{

    text-align:center;

    color:#001f3f;

    margin-bottom:25px;
}
/*formulario*/
.auth-card label{

    display:block;

    margin-bottom:5px;

    font-weight:600;

    color:#333;
}
.auth-card label{

    display:block;

    margin-bottom:5px;

    font-weight:600;

    color:#333;
}
.auth-card input:focus{

    outline:none;

    border-color:#001f3f;
}
/*boton*/
.auth-card button{

    width:100%;

    padding:12px;

    background:#001f3f;

    color:white;

    border:none;

    border-radius:6px;

    cursor:pointer;

    font-size:16px;

    transition:0.3s;
}
.auth-card button:hover{

    background:#003366;
}
/*links*/
.auth-card a{

    display:block;

    text-align:center;

    margin-top:15px;

    text-decoration:none;

    color:#001f3f;

    font-weight:600;
}
.auth-card a:hover{

    text-decoration:underline;
}
/*responsive*/
@media(max-width:768px){

    .auth-card{

        width:95%;

        padding:20px;
    }

}