/* Fondo */
body{
    margin:0;
    padding:0;
    font-family:Segoe UI, sans-serif;

    background: linear-gradient(
        90deg,
        #0046d5,
        #7c82ff
    );

    min-height:100vh;
}

/* Centrado */
.contenedor{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

/* Tarjeta */
.card{
    background:#f2f2f2;

    width:400px;

    padding:40px;

    box-shadow:0 5px 15px rgba(0,0,0,0.3);
}

/* Título */
.card h1{
    text-align:center;
    margin-bottom:40px;
    font-size:42px;
}

/* Etiquetas */
.card label{
    display:block;
    margin-bottom:8px;
    margin-top:15px;

    font-weight:bold;

    font-size:18px;
}

/* Inputs */
.card input{
    width:100%;

    padding:12px;

    box-sizing:border-box;

    border:1px solid #bbb;

    font-size:16px;

    margin-bottom:10px;
}

/* Botones */
.card button{
    width:100%;

    margin-top:25px;

    padding:12px;

    border:none;

    background:#2369b5;

    color:white;

    font-size:18px;

    cursor:pointer;

    transition:0.3s;
}

.card button:hover{
    background:#184d88;
}

/* Enlace */
.card a{
    display:block;

    text-align:center;

    margin-top:20px;

    text-decoration:none;

    color:#2369b5;

    font-weight:bold;
}

.card a:hover{
    text-decoration:underline;
}

/* Responsive */
@media(max-width:500px){

    .card{
        width:90%;
        padding:25px;
    }

    .card h1{
        font-size:32px;
    }
}
