
.tarjeta-partido {
    width: 90%;
    max-width: 300px;
    margin: 40px auto;
    padding: 25px;
    background: #163c63;
    color: white;
    border-radius: 18px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    text-align: center;
    transition: transform 0.2s ease;
}

.tarjeta-partido:hover {
    transform: translateY(-3px);
}

.tarjeta-partido h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.tarjeta-partido p {
    margin: 6px 0;
}

.tarjeta-partido > img {
    width: 70px;
    height: 70px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px;
    background: rgb(54, 74, 129);
}

.equipos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 20px 0;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #163c63;
}

.equipos div {
    width: 100px;
    text-align: center;
}

.equipos img {
    width: 60px;
    height: 40px;
    object-fit: contain;
    border: 1px solid #ddd;
    border-radius: 6px;
    background: white;
    padding: 2px;
}

.equipos p {
    font-weight: bold;
    margin-top: 6px;
}

.icono-clima {
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 50%;
    background: white;
    padding: 5px;
}

table {
    width: 90%;
    margin: 30px auto;
    background: white;
    border-collapse: collapse;
    box-shadow: 0 3px 10px #ccc;
}

th {
    background: #163c63;
    color: white;
    padding: 12px;
}

td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

td img {
    width: 35px;
    height: 25px;
    object-fit: contain;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: white;
}

tr:hover {
    background: #f0f6ff;
}

.tabla-container {
    overflow-x: auto;
}

@media (max-width: 700px) {

    body {
        padding: 15px;
    }

    .tarjeta-partido {
        width: 85%;
        max-width: 280px;
        margin: 70px auto;
        padding: 16px;
    }

    .tarjeta-partido h3 {
        font-size: 18px;
    }

    .tarjeta-partido > img {
        width: 55px;
        height: 55px;
    }

    .equipos div {
        width: 80px;
    }

    .equipos img {
        width: 45px;
        height: 30px;
    }

    .icono-clima {
        width: 45px;
        height: 45px;
    }

    table {
        width: max-content;
        min-width: 100%;
    }

    th, td {
        padding: 8px;
        font-size: 13px;
    }
}