{% extends "base.html" %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='actualizarPartido.css') }}">
{% endblock %}

{% block title %}
    <title>Partido</title>
{% endblock %}

{% block content %}
   {% if error %}
        <div class="mensaje-error">
            {{ error }}
        </div>
    {% endif %}    

    {% if partido.estado == 'Finalizado' %}
        <div class="mensaje-error">
            No se pueden editar partidos finalizados
        </div>
    {% endif %}
    <form class="form-partido" action="{{ url_for('partido.actualizarPartido', partido_id=partido.id) }}" method="post">
    <label for="equipo1_id">ID Equipo 1:</label>
    <input
        type="text"
        id="equipo1_id"
        name="id_equipo1"
        value="{{ partido.id_equipo1 }}"
        {% if partido.estado == 'Finalizado' %}
            readonly
        {% endif %}
    >

    <br><br>

    <label for="equipo2_id">ID Equipo 2:</label>
    <input
        type="text"
        id="equipo2_id"
        name="id_equipo2"
        value="{{ partido.id_equipo2 }}"
        {% if partido.estado == 'Finalizado' %}
            readonly
        {% endif %}
    >

    <br><br>

    <label for="idestadio">ID Estadio:</label>
    <input
        type="text"
        id="idestadio"
        name="id_estadio"
        value="{{ partido.id_estadio }}"
        {% if partido.estado == 'Finalizado' %}
            readonly
        {% endif %}
    >
    <br><br>

    <label for="fecha">Fecha:</label>

    <input
        type="text"
        id="fecha"
        name="fecha"
        value="{{ partido.fecha }}"
        {% if partido.estado == 'Finalizado' %}
            readonly
        {% endif %}
    >
    <br><br>

    <label for="hora">Hora:</label> 
    <input
        type="text"
        id="hora"
        name="hora"
        value="{{ partido.hora }}"
        {% if partido.estado == 'Finalizado' %}
            readonly
        {% endif %}
    >
    <br><br>
    <label for="estado">Estado:</label>
    <input
        type="text"
        id="estado"
        name="estado"
        value="{{ partido.estado }}"
        {% if partido.estado == 'Finalizado' %}
            readonly
        {% endif %}
    >
    <br><br>
    <label for="etapa">Etapa:</label>
    <input
        type="text"
        id="etapa"
        name="etapa"
        value="{{ partido.etapa }}"
        {% if partido.estado == 'Finalizado' %}
            readonly
        {% endif %}
    >
    <br><br>
    {% if partido.estado != 'Finalizado' %}
        <button type="submit">Guardar cambios</button>
    {% else %}
        <a href="{{ url_for('partido.obtenerPartidos') }}" class="volver">Volver</a>
    {% endif %}
    </form>
{% endblock %}