{% extends "base.html" %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='actualizarPartido.css') }}">
{% endblock %}

{% block title %}
    <title>Partido</title>
{% endblock %}

{% block content %}
   {% if error %}
        <div class="mensaje-error">
            {{ error }}
        </div>
    {% endif %}    

    {% if partido.estado == 'Finalizado' %}
        <div class="mensaje-error">
            No se pueden editar partidos finalizados
        </div>
    {% endif %}

    <form class="form-partido" action="{{ url_for('partido.actualizarPartido', partido_id=partido.id) }}" method="post">
    
    <div>
        <label for="equipo1_id">ID Equipo 1:</label>
        <input
        type="number"
        id="equipo1_id"
        name="id_equipo1"
        value="{{ partido.id_equipo1 }}"
        {% if partido.estado == 'Finalizado' %}
            readonly
        {% endif %}>
    </div>

    <div>
        <label for="equipo2_id">ID Equipo 2:</label>
        <input
        type="number"
        id="equipo2_id"
        name="id_equipo2"
        value="{{ partido.id_equipo2 }}"
        {% if partido.estado == 'Finalizado' %}
            readonly
        {% endif %}>
    </div>

    <div>
        <label for="idestadio">ID Estadio:</label>
        <input
        type="number"
        id="idestadio"
        name="id_estadio"
        value="{{ partido.id_estadio }}"
        {% if partido.estado == 'Finalizado' %}
            readonly
        {% endif %}>
    </div>
    
    <div>
        <label for="fecha">Fecha:</label>
        <input
        type="text"
        id="fecha"
        name="fecha"
        value="{{ partido.fecha }}"
        {% if partido.estado == 'Finalizado' %}
            readonly
        {% endif %}>
    </div>

    <div>
        <label for="hora">Hora:</label> 
        <input
        type="text"
        id="hora"
        name="hora"
        value="{{ partido.hora }}"
        {% if partido.estado == 'Finalizado' %}
            readonly
        {% endif %}>
    </div>

    <div>
        <label for="estado">Estado:</label>
        <input
        type="text"
        id="estado"
        name="estado"
        value="{{ partido.estado }}"
        {% if partido.estado == 'Finalizado' %}
            readonly
        {% endif %}>
    </div>
    
    <div>
        <label for="etapa">Etapa:</label>
        <input
        type="text"
        id="etapa"
        name="etapa"
        value="{{ partido.etapa }}"
        {% if partido.estado == 'Finalizado' %}
            readonly
        {% endif %}>
    </div>
    
    {% if partido.estado != 'Finalizado' %}
        <button type="submit">Guardar cambios</button>
    {% else %}
        <a href="{{ url_for('partido.obtenerPartidos') }}" class="volver">Volver</a>
    {% endif %}

    </form>

    <div class="tabla-container">
        <table class="tabla-estadios">
            <caption>LISTA DE ESTADIOS</caption>

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>País</th>
                    <th>Ciudad</th>
                    <th>Capacidad</th>
                </tr>
            </thead>

            <tbody>
                {% for estadio in estadios %}
                <tr>
                    <td>{{ estadio.id }}</td>
                    <td>{{ estadio.nombre }}</td>
                    <td>{{ estadio.pais }}</td>
                    <td>{{ estadio.ciudad }}</td>
                    <td>{{ estadio.capacidad }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="tabla-container">
        <table class="tabla-equipos">
            <caption>LISTA DE EQUIPOS</caption>

            <thead>
                <tr>
                    <th>ID</th>
                    <th>País</th>
                    <th>Bandera</th>
                    <th>Grupo</th>
                </tr>
            </thead>

            <tbody>
                {% for equipo in equipos %}
                <tr>
                    <td>{{ equipo.id }}</td>
                    <td>{{ equipo.pais }}</td>
                    <td><img src="{{ url_for('static', filename=equipo.bandera) }}" alt="Bandera" width="30"></td>
                    <td>{{ equipo.grupo }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}