{% extends "base.html" %}

{% block title %}
<title>Panel Administrador</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
{% endblock %}

{% block content %}

<div class="dashboard">

    <h1>Panel de Administración</h1>

    <p class="bienvenida">
        Bienvenido administrador.
    </p>

    <div class="cards-container">

        <div class="card">
            <h2>Crear Partido</h2>
            <p>
                Registrar nuevos partidos del Mundial 2026.
            </p>

            <a href="#" class="btn">
                Ir
            </a>
        </div>

        <div class="card">
            <h2>Modificar Partido</h2>
            <p>
                Editar información de partidos existentes.
            </p>

            <a href="#" class="btn">
                Ir
            </a>
        </div>

        <div class="card">
            <h2>Eliminar Partido</h2>
            <p>
                Eliminar partidos registrados.
            </p>

            <a href="#" class="btn">
                Ir
            </a>
        </div>

        <div class="card">
            <h2>Gestionar Usuarios</h2>
            <p>
                Administrar cuentas de clientes.
            </p>

            <a href="#" class="btn">
                Ir
            </a>
        </div>

    </div>

    <div class="logout-container">
        <a href="{{ url_for('auth.logout') }}" class="logout-btn">
            Cerrar sesión
        </a>
    </div>

</div>

{% endblock %}