{% extends "base.html" %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='crearPartido.css') }}">
{% endblock %}

{% block title %}
    <title>Partido</title>
{% endblock %}

{% block content %} 
    <form class="form-partido" action="{{ url_for('partido.crearPartido') }}" method="post">

    <label for="equipo1_id">ID Equipo 1:</label>
    <input
        type="text"
        id="equipo1_id"
        name="id_equipo1"
    >

    <br><br>

    <label for="equipo2_id">ID Equipo 2:</label>
    <input
        type="text"
        id="equipo2_id"
        name="id_equipo2"
    >

    <br><br>

    <label for="idestadio">ID Estadio:</label>
    <input
        type="text"
        id="idestadio"
        name="id_estadio"
    >
    <br><br>

    <label for="fecha">Fecha:</label>
    <input
        type="text"
        id="fecha"
        name="fecha"
    >
    <br><br>

    <label for="hora">Hora:</label> 
    <input
        type="text"
        id="hora"
        name="hora"
    >
    <br><br>
    <label for="estado">Estado:</label>
    <input
        type="text"
        id="estado"
        name="estado"
    >
    <br><br>
    <label for="etapa">Etapa:</label>
    <input
        type="text"
        id="etapa"
        name="etapa"
    >
    <br><br>
    <button type="submit">Guardar cambios</button>
    </form>

{% endblock %}