<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    {% block style %}{% endblock %}
    {% block title %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo">
        <script>
            function toggleMenu() {
            document.querySelector(".navbar ul").classList.toggle("active");
            }
        </script>
        <button class="menu-btn" onclick="toggleMenu()">
        ☰
        </button>
        <ul>
            <li><a href="{{ url_for('partido.obtenerPartidos') }}">Partidos</a></li>
            <li><a href="{{ url_for('partido.partidosSuspendidos') }}">Partidos Suspendidos</a></li>
        </ul> 
    </nav>
    {% block content %}

    {% endblock %}
</body>
</html>