{% extends "base.html"%}

{%block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='editar_perfil.css') }}">
{% endblock %}

{% block title %}
    <title>Editar perfil</title>
{% endblock %}

{% block content%}

    {% if error%}
        <div class = "mensaje-error">
            {{error}}
        </div>
    {% endif%}
    <form action = "{{url_for('Usuario.actualizarperfil')}}"method=post enctype="multipart/form-data">
    <label for = "nombre">Nombre</label>
    <input 
        type="text"
        id = "nombre"
        name = "nombre"
        value = "{{user.nombre}}"
    >
    <label for = "email">Email</label>
    <input 
        type="text"
        id = "email"
        name = "email"
        value = "{{user.email}}"
    >
    <label for = "foto_perfil">Foto de perfil</label>
    <input 
        type="file"
        id = "foto_perfil"
        name = "foto_perfil"
        accept="image/*"
    >
    <button type = "submit">Guardar</button>
    </form>
{% endblock%}

