<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='auth.css') }}">
</head>

<body>

    <div class="contenedor">

        <div class="card">

            <h1>Login</h1>

            <form action="{{ url_for('auth.login_route') }}"
                  method="POST">

                <label>Email</label>

                <input type="email"
                       name="email"
                       placeholder="Ingresar email..."
                       required>

                <label>Contraseña</label>

                <input type="password"
                       name="password"
                       placeholder="Ingresar contraseña..."
                       required>

                <button type="submit">
                    Ingresar
                </button>

            </form>

            <a href="{{ url_for('auth.register_route') }}">
                Crear cuenta
            </a>

        </div>

    </div>

</body>
</html>

