{%extends "base.html"%}

{%block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='partidos.css') }}">
{% endblock %}

{% block title %}
    <title>Partidos</title>
{% endblock %}

{% block content %}
    <h1>Partidos</h1>
    <a href="{{ url_for('partido.formularioCrear') }}" class="btn-agregar">Agregar Partido</a>
    <table class="tabla-partidos">
       <caption>LISTA DE PARTIDOS </caption>
        {%for partido in partidos %}
        <tr>
            <td>{{ partido.nombre_equipo1 }}</td>
            <td><img src="{{url_for('static', filename=partido.bandera_equipo1)}}" alt="Bandera" width="30"></td>
            <td>{{ partido.nombre_equipo2 }}</td>
            <td><img src="{{url_for('static', filename=partido.bandera_equipo2)}}" alt="Bandera" width="30"></td>
            <td>{{ partido.fecha }}</td>
            <td>{{ partido.hora }}</td>
            <td>{{ partido.nombre_estadio }}</td>
            <td>{{ partido.estado }}</td>
            <td>{{ partido.etapa }}</td>
            <td><a href="{{ url_for('partido.eliminarPartido', partido_id=partido.id) }}" class="btn-eliminar"  
                onclick="return confirm('¿Está seguro/a de eliminar este partido?')">Eliminar</a></td>
            {%if partido.estado == 'Suspendido' %}
                <td><a href="{{ url_for('partido.reprogramarPartido', partido_id=partido.id) }}"class="btn-editar">Reprogramar</a></td>
            {%else%}
                <td><a href="{{ url_for('partido.formularioEditar', partido_id=partido.id) }}"class="btn-editar">Editar</a></td>
            {% endif %}
        {% endfor %} 
        </tr> 
    </table>

{% endblock %}